html {
    background-color: white;
}

body {
    margin: 0;
}

header {
    width: 100%;
    height: 64px;
}

header img {
    height: 32px;
    margin-left: 24px;
    vertical-align: middle;
}

h4 {
    display: inline-block;
    height: 32px;
}

header ul {
    float: right;
    list-style: none;
    padding-left: 0;
    margin-top: 21.28px;
    margin-bottom: 21.28px;
    margin-right: 8px;
}

li {
    display: inline;
    margin-right: 16px;
}

.academyspan {
    font-weight: lighter;
}

.learnnew {
    background-color: lightgrey;
    display: flex;
}

.bannerimg {
    width: 60%;
    margin: 32px 24px;
}

.learnnewtext {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerimg img {
    max-width: 100%;
    max-height: 100%;
}

.starthere {
    background-color: gray;
    text-align: center;
    width: 250px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.keyinfo {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
}

.encouragement {
    width: 60%;
    margin-left: 24px;
    margin-right: 24px;

}

.encouragement img {
    max-width: 100%;
    max-height: 100%;
}

.encouragement h2 {
    margin-top: 32px;
    margin-bottom: 24px;
}

.infocontainer {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.emanuel {
    margin-top: 24px;
}

.readmore {
    display: inline;
    color: blue;
}

.info img {
    height: auto;
    width: 35%;
}

.info {
    display: flex;
    margin: 16px;
}

.orientationdate {
    margin-top: 0px;
}

.infotext {
    width: 65%;
    margin-left: 15px;
}

.startlearn {
    background-color: lightgray;
}

.startlearn h2 {
    text-align: center;
    padding-top: 32px;
    margin-bottom: 0;
}

.coursecatalog {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 72px;
    justify-content: space-between;
}

.course img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.course {
    width: 33.3%;
    background: white;
}

.course h3 {
    margin-top: 16px;
    margin-left: 16px;
}

.course p {
    margin-left: 16px;
}

.thesisexhibit h2 {
    text-align: center;
    margin-top: 32px;
}

.vidandexhibit {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
}

.vidsection {
    width: 60%;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.vidsection h3 {
    margin-bottom: 8px;
}

.vidsection video {
    max-width: 100%;
    max-height: 100%;
}

.exhibitcontainer {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.exhibit {
    display: flex;
}

.exhibit img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.exhibittext {
    width: 65%;
}

footer {
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 16px;
    border-top: solid black 2px;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

footer ul {
    margin-top: 0;
    margin-bottom: 0;
    float: right;
}